body{
    background-color: blanchedalmond;
    background-image: url('../img/main.jpg');
    background-repeat:repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(226, 141, 13, 0.1), rgba(255, 255, 0, 0.1)),
    url("../img/main.jpg");
}

img {
  width: 100%;
  height: auto;
}

#tabla{
    padding-bottom: 20%;
}



.bg-card {
  background-color:rgba(173, 121, 62, 0.7) !important;
}




.card-wrapper1 {
  margin-bottom: 30px;
}
.card-image1 .card1 .card-img-wrapper1 {
  height: 100%;
}
.card-image1 .card1 .card-body1 {
  display: none;
}
.card-image-title-description1 .card1 .card-img-wrapper1 {
  max-height: 160px;
}
.card-image-title-description1 .card1 {
  position: relative;
  min-height: 300px;
}
.card-image-title-description1 .card1 .card-body1 {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: -70px;
}
.card-image-title-description1 .card1:hover .card-body1 {
  top: -70px;
}
.card-image-title-description1 .card1 .card-body1 .card-title1 {
  margin-bottom: .75rem;
}
.card1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  height: 100%;
}
.card1:hover {
  box-shadow: 8px 12px 31px -10px #ab98ab;
}
.card-img-wrapper1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: hidden;
}
.card-img-wrapper1 img {
  transition: 1.5s ease;
}
.card1:hover .card-img-wrapper1 img {
  transform: scale(1.15);
}
.card-body1 .card-title1 {
  margin-bottom: calc(50% + 20px);
  transition: 1.5s ease;
}
.card1:hover .card-body1 .card-title1 {
  margin-bottom: .75rem;
}

.card-body1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  background-color: rgba(228, 238, 226, 0.8);
  transition: 1.5s ease;
}
.card-content1 {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 1.5s ease;
}
.card1:hover .card-body1 {
  height: 100%;
}
.card1:hover .card-content1 {
  bottom: 0;
}
